.container{
	display: block;
	max-width: 100%;
	height: auto;
	padding:0px;
}
.container123 {
  font-size: 21px;
  font-family: "GentiumBookBasic";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: justifyAll;
  position: absolute;
  left: 571.913px;
  top: 48.361px;
  width: 710px;
  height: 21px;
}
.active_state {
  border-width: 6px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  opacity: 0.71;
  position: absolute;
  left: 561px;
  top: 0px;
  width: 68px;
  height: 0;
}
.nav{
  font-size: 21px;
  font-family: "FontAwesome";
  color: rgb(218, 179, 62);
  line-height: 1.2;
  text-align: justifyAll;
  position: absolute;
  left: 1303.913px;
  top: 47.361px;
  width: 81px;
  height: 21px;
}
.background {
  background-image: url("background.png");
  position: absolute;
  left: -4px;
  top: 746px;
  width: 1608px;
  height: 718px;
  z-index: 239;
}
.section-heading {
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(204, 153, 0);
  line-height: 0.667;
  text-align: center;
  position: absolute;
  left: 248.484px;
  top: 875.805px;
  width: 470px;
  height: 35px;
  z-index: 247;
}
.section-text {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(76, 76, 76);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 291.911px;
  top: 984.546px;
  width: 409px;
  height: 111px;
  z-index: 244;
}
.section-promo-text{
  font-size: 90px;
  font-family: "YesevaOne";
  color: rgba(255, 255, 255, 0.922);
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
  position: absolute;
  left: 219.543px;
  top: 227.607px;
  width: 958px;
  height: 204px;
}
.section-promo-button1{
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.702);
  opacity: 0.8;
  position: absolute;
  left: 556px;
  top: 551px;
  width: 226px;
  height: 55px;
}
.section-promo-button1-text{
  font-size: 18px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
}
.section-promo-button2{
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.278);
  opacity: 0.702;
  position: absolute;
  left: 814px;
  top: 551px;
  width: 226px;
  height: 55px;
}
.section-promo-button2-text{
  font-size: 18px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
}
.section-picture{
  position: absolute;
  left: 739px;
  top: 805px;
  width: 621px;
  height: 625px;
}
.section-picture2 {
  position: absolute;
  left: 425px;
  top: 1125px;
  width: 219px;
  height: 221px;
}

.Section_Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 5000px;
  z-index: 241;
}

.background {
  position: absolute;
  left: -4px;
  top: 746px;
  width: 1608px;
  height: 718px;
  z-index: 239;
}
.Fine_ingredients {
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 854.536px;
  top: 1638.805px;
  width: 297px;
  height: 34px;
}
.section_text10{
	font-size: 16px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: center;
	position: absolute;
	left: 892.933px;
	top: 1769.546px;
	width: 409px;
	height: 111px;
}

.section_text11 {
  font-size: 12px;
  font-family: "FontAwesome";
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 986.044px;
  top: 1917.509px;
  width: 204px;
  height: 134px;
}
.Text-Background {
  border-width: 0.06px;
  border-color: rgb(251, 247, 192);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0.671;
  position: absolute;
  left: 815px;
  top: 1560px;
  width: 570px;
  height: 557px;
}
.image-bread2 {
  position: absolute;
  left: 903px;
  top: 1927px;
  width: 114px;
  height: 114px;
}
.red {
  position: absolute;
  left: 1043px;
  top: 1927px;
  width: 114px;
  height: 114px;
}
.image-bread {
  position: absolute;
  left: 1183px;
  top: 1927px;
  width: 114px;
  height: 114px;
}
.background-green {
  position: absolute;
  width: 1600px;
  height: 758px;
}
.Text-Background{
  border-width: 0.06px;
  border-color: rgb(251, 247, 192);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0.671;
  position: absolute;
  width: 570px;
  height: 557px;
}

.Section-Background3{
  position: absolute;
  left: -4px;
  top: 2214px;
  width: 1608px;
  height: 1002px;
}
.Heading-food{
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(204, 153, 0);
  line-height: 0.667;
  text-align: center;
  position: absolute;
  left: 262.597px;
  top: 2343.843px;
  width: 196px;
  height: 33px;
}
.Heading-food2{
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(204, 153, 0);
  line-height: 0.667;
  text-align: center;
  position: absolute;
  left: 270.115px;
  top: 2773.805px;
  width: 118px;
  height: 28px;
}


.Heading-food3{
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(204, 153, 0);
  line-height: 0.667;
  text-align: center;
  position: absolute;
  left: 863.961px;
  top: 2342.599px;
  width: 150px;
  height: 28px;
}
.Heading-food4{
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(204, 153, 0);
  line-height: 0.667;
  text-align: center;
  position: absolute;
  left: 860.485px;
  top: 2675.805px;
  width: 223px;
  height: 27px;
}
.nice-text p:nth-child(1){
  font-size: 21px;
  font-family: "YesevaOne";
  color: rgb(200, 159, 45);
  line-height: 1.143;
  text-align: justifyAll;
  position: absolute;
  left: 283.207px;
  top: 2449.397px;
  width: 431px;
  height: 60px;
}
.ciken {
  position: absolute;
  left: 0px;
  top: 3212px;
  width: 1621px;
  height: 758px;
}
.guest-reviews {
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 592.332px;
  top: 3388.843px;
  width: 260px;
  height: 28px;
}
.reviews-text{
  font-size: 25px;
  font-family: "GentiumBookBasic";
  color: rgb(221, 224, 223);
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  position: absolute;
  left: 480.496px;
  top: 3541.125px;
  width: 622px;
  height: 267px;
}

.bg{
  border-width: 0.06px;
  border-color: rgb(251, 247, 192);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 415px;
  top: 3312px;
  width: 770px;
  height: 557px;
}

.background-lows{
  position: absolute;
  left: -4px;
  top: 3966px;
  width: 1608px;
  height: 718px;
}
.image-low{
  position: absolute;
  left: 515px;
  top: 4070px;
  width: 270px;
  height: 507px;

}
.image-low11{
  position: absolute;
  left: 215px;
  top: 4070px;
  width: 270px;
  height: 507px;
}
.heading-low{
  font-size: 36px;
  font-family: "YesevaOne";
  color: rgb(204, 153, 0);
  line-height: 0.667;
  text-align: center;
  position: absolute;
  left: 849.484px;
  top: 4091.805px;
  width: 342px;
  height: 35px;
}
.text-low{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(76, 76, 76);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 889.911px;
  top: 4200.546px;
  width: 417px;
  height: 145px;
}


.footer-img{
  background-color: rgb(25, 25, 25);
  position: absolute;
  left: -1px;
  top: 4680px;
  width: 1601px;
  height: 320px;
}
.about-us{
  font-size: 21px;
  font-family: "YesevaOne";
  color: rgb(254, 254, 254);
  line-height: 1.143;
  text-align: center;
  position: absolute;
  left: 307.429px;
  top: 4762.361px;
  width: 95px;
  height: 15px;
}
.footer-text{
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 222.622px;
  top: 4841.546px;
  width: 343px;
  height: 109px;
}
.Opening-Hours{
  font-size: 21px;
  font-family: "YesevaOne";
  color: rgb(254, 254, 254);
  line-height: 1.143;
  text-align: center;
  position: absolute;
  left: 702.587px;
  top: 4762.361px;
  width: 158px;
  height: 19px;
}
.Mon-Thu{
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 603.568px;
  top: 4841.546px;
  width: 195px;
  height: 41px;
}
.Our-Location{
  font-size: 21px;
  font-family: "YesevaOne";
  color: rgb(254, 254, 254);
  line-height: 1.143;
  text-align: center;
  position: absolute;
  left: 1102.455px;
  top: 4762.361px;
  width: 138px;
  height: 15px;
}
.footer-text2{
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 996.289px;
  top: 4841.546px;
  width: 200px;
  height: 37px;
}





